
D/Users/raulr/Desktop/astro_curso/astro-landing/src/pages/index.astroô---
import Layout from '../layouts/Layout.astro';

// Components
import Hero from '../components/landing/Hero.astro';
import More from '../components/landing/More.astro';
import Nosotros from '../components/landing/Nosotros.astro';
import Proyectos from '../components/landing/Proyectos.astro';
import Servicios from '../components/landing/Servicios.astro';

---

<Layout title='Bienvenidos'>
<h1 class="text-3xl">Home page</h1>

<Hero />
<More />
<Nosotros />
<Servicios />
<Proyectos />


</Layout>  01*$4b393493-6724-470f-9a2f-ff28a415b593081G 0Gu*$4b58239f-8974-4033-ba3c-c3b71b6f2e7908uw 	w« 
«² 2²ç*$1aeeff07-ec49-4f8c-b9a0-236ec1b2053b08
çò 
ò¦ 
¦© 2©å*$70e1d688-12e3-4897-99ea-6a8ac09b5eb108
åì 4ìí *$a163d60f-7659-4dc4-aa6f-de0274ff15e208
í” 2”œ*$472f9880-f5eb-479b-9e4b-77fe3c8b691e08
œ® ®é
éô 2Kfile:///Users/raulr/Desktop/astro_curso/astro-landing/src/pages/index.astro